<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <% include ../helpers/head %>
    
</head>

<body>
  <header>
      <% include ../helpers/navbar %>

  </header>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Cerealsyl's Journey to a Computer scientist/School builder</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    <script>
      function myFunction() {
        document.getElementById("demo").innerHTML = "I just changed";
      }
      </script>
  </button>

  <div id="doge-image"/>

</body>

</html>